html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f7fa;
}

.main-area {padding: 0 0 0 318px;} 

.header{
    background-color: #ffffff;
}

.side-menu{
    width: 318px;
    height: 100vh;
    background-color: #0e1a35;
    position: fixed;
    top: 0;
    left: 0;
    
}

.side-menu ul #active{
    background: #122143;
    border-left: 5px solid #5584ff;
}

.side-menu ul li{
    list-style-type: none;
    transition: all;
    border-left: 5px solid transparent;
}

.side-menu ul li a{
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    text-decoration: none;
    transition: all;
    border: 0px solid;
    cursor: pointer;
    padding: 10px 30px;
    display: flex;
    align-items: center;
}


.side-menu ul li img{
    margin: -20px -20px;
    padding: -100px -10px;
}

.top-menu{
    border: 1px solid rgba(132, 146, 175, 0.3);
    background-color: #ffffff;
}

.top-menu ul li{
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
    padding-top: 30px;
	padding-bottom: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}


#right{
    float: right;
    margin-right: 30px;
}

#right button{
    margin-bottom: 100px;
}

.content{
    border: 1px solid rgba(132, 146, 175, 0.3);
    padding: 25px;
}

.content h1{
    color: #0e1a35;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 500;
    margin: 30px;
}

.box h2{
    color: #8492af;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    margin: 30px;
}

.boss-box{
    display: flex;
    margin: 25px 0 0;
}

.box    {
    border: 1px solid rgba(132, 146, 175, 0.3);
    background-color: #ffffff;
    position: relative;
}

.box:nth-child(1) {
    width: 40%;
  }
  .box:nth-child(2) {
    width: 54%;
    margin: 0 0 0 25px; 
  }
  .box#bottom {
    width: 95%;
    padding: 6px;
  }


.box img{
    position: absolute;
    top: 65px;
}

.sol-resim{
    position: absolute;
    top: 0px;
    left: 300px;
}

.edit{
    border-radius: 50px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    padding: 12px;
    position: absolute;
    right: 110px;
    top: 25px;
    color: #8492af;

}
.edit2{
    border-radius: 50px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    padding: 12px;
    position: absolute;
    right: 50px;
    top: 25px;
    color: #8492af;

}

.period{
    border-radius: 24px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    padding: 17px 75px 19px 23px;
    position: absolute;
    right: 25px;
    top: 25px;
    color: #0e1a35;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 14.4px;
}

.box ul li{
    float: initial;
    position: relative;
    left: 90px;
    top: 100px;
    padding-bottom: 10px;
    width: 100%;
    list-style: circle;
    color: #8492af;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.add-project{
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 27px 10px 45px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.circle{
    border: 50px solid rgba(23, 20, 236, 0.5);
    border-radius: 50%;
    box-sizing: border-box;
    width: 290px;
    height: 290px;
    background-color: white;
    line-height:200px;
    font-size:20px;
    color: #8492af;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 14.4px;
    float:left;
    margin-left: 36px;
    margin-bottom: 45px;
    margin-top: 45px;
    }   



.circle-text{
    text-align: center;
    vertical-align: center;
}

.side-menu ul li a i{
    margin-right: 15px;
    color: #5584ff;
    font-size: 20px;
}

.grafik{
    position: absolute;
    top: 128px;
    left: 140px;
}

.boss-vector{
    display: flex;
    margin: 25px 0 0;
}

.vector{
    border: 1px solid rgba(132, 146, 175, 0.3);
    background-color: #ffffff;
    position: relative;
}

.vector:nth-child(1) {
    width: 30%;
  }
.vector:nth-child(2) {
    width: 30%;
    margin: 0 0 0 45px; 
  }
.vector:nth-child(3) {
    width: 30%;
    margin: 0 0 0 45px; 
  }

.vector #active{
    background: #dadee7;
}

.vector ul{
    display: inline;
}

.vector h2{
    color: #0e1a35;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
    margin-left: 34px;
    padding: 20px;
}

.vector ul li{
    list-style-type: none;
    margin-bottom: 80px;
    background: white;
    border: 1px solid rgba(132, 146, 175, 0.3);
    box-sizing: border-box;
    position: relative;
}

.users table{
    height: 37px;
    color: #0e1a35;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    line-height: 14.4px;
    margin-left: 43px;
}

table{
    width: 95%;
    text-align: center;
    border-collapse: collapse;
    left: 20px;

}

table th{
    color: #8492af;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 14.4px;
    height: 80px;
}

table td{
    border: 1px solid rgba(132, 146, 175, 0.3);
    color: #0e1a35;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    position: relative;
    vertical-align: middle;
}

table td span{
    color: #8492af;
    position: absolute;
    top: 80px;
    left: 130px;
}

.username{
    color: #0e1a35;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 14.4px;
    position: absolute;
    top: 50px;
    left: 130px;
}

table td#online{
    color: #00bf1b;
}

table td#offline{
    color: #8492af;
}

table td img{
    float: left;
    margin-left: -50px;
}

table td i{
    margin: 0 10px;
}

table tr td li{
    margin: 35px;
    
}

.pagination a {
    color: black;
    float: center;
    padding: 17px 13px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
  }
  
  .pagination a.active {
    color: #5584ff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
  }
  
  .pagination a#wp {
    color: #5584ff;
    font-size: 30px;
    font-weight: 1000;
    border: 0px;
  }

footer{
    width: 95%;
    text-align: center;
    border-collapse: collapse;
    width: 100%;

}

.workflow{
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 30%;
}

.workflow h1{
    margin-top: 50px;
}
.workflow h1 span{
    color: grey;
}

.work-box  {
    height: 118px;
    background: white;
    margin: 20px 30px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    box-sizing: border-box;
    position: relative;
    padding-bottom: 5px;
}

.work-text{
    float: left;
    position: absolute;
    top: 25px;
    left: 75px;
    color: #0e1a35;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 21.07px;
}

.work-time{
    padding-top: 10px;
    color: #8492af;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.86px;
}

.work-circle{
    border-radius: 50%;
    box-sizing: border-box;
    width: 47px;
    height: 47px;
    background-color: #5584ff;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    float:left;
    text-align: center;
    margin-left: 15px;
    margin-top: 25px;
    }   

#blue{
    margin-left: 325px;
    margin-top: -65px;
    position: absolute;
    z-index: 2;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    text-align: left;
    margin-left: 30px;
    position: relative;
}
  
.flex-container > div {
    background-color: #ffffff;
    width: 272px;
    height: 138px;
    line-height: 75px;
    color: #0e1a35;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid rgba(132, 146, 175, 0.3);
    padding-left: 30px;
    position: relative;
}

.active-red{
    color: #0e1a35;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    background-color: #f6f7fa;
    margin-top: 33px;
    border-left: 5px solid blue;
    padding: 0 30px;
    width: 100%;
    position: absolute;
    left: 0;
}

.active-blue{
    color: #0e1a35;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    background-color: #f6f7fa;
    margin-top: 3px;
    border-left: 5px solid red;
    padding: 0 30px;
    width: 100%;
    position: absolute;
    left: 0;

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 302px;
    height: 399px;
    background-color: #ffffff;
    color: #0e1a35;
    font-family: Roboto;
    text-align: center;
    border-radius: 1px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 200px;
    border: 1px solid gray;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
 }

 .tooltip ul{
     display: inline;
     list-style: none;
     position: relative;
 }

 .tooltip ul li{
    padding: 0;
    margin: 0;
    color: #8492af;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    float: left;
 }

 .tooltip h3{
    color: #8492af;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.14px;
 }

 .tooltip h2{
    color: #0e1a35;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 14.4px;
 }

 .tooltip span{
    color: #8492af;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14.4px;
 }

 .logo a {display: flex; justify-content: center;}