body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    width: 1900px;
    height: 1400px;
    background-color: #f6f7fa;
}

.header{
    border: 1px solid rgba(132, 146, 175, 0.3);
    background-color: #ffffff;
}

.container{
    position: relative;
}

.side-menu{
    width: 318px;
    height: 1320px;
    background-color: #0e1a35;
    position: absolute;
    top: 0;
    left: 0;
    
}

.side-menu ul{
    
    width: 318px;
    height: 0;
    background-color: #0e1a35; 
}

.side-menu ul li{
    list-style-type: none;
    margin: 0;
    padding-bottom: 36px;
    transition: all;
}

.side-menu ul li:hover{
    background-color: #122143; 
}

.side-menu ul li a{
    width: 63px;
    height: 18px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    text-decoration: none;
    transition: all;
    border: 0px solid;
    cursor: pointer;
}



.side-menu ul li a:hover{
    background-color: #122143;
}

.side-menu ul li img{
    margin: -20px -20px;
    padding: -100px -10px;
}

.top-menu{
    width: 1400px;
    height: 120px;
    border: 2px solid rgba(132, 146, 175, 0.3);
    background-color: #ffffff;
    position: absolute;
    left: 318px;
}

.top-menu ul li{
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
    padding-top: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}


#right{
    float: right;
    margin-right: 30px;
}

#right button{
    margin-bottom: 100px;
}

.content{
    width: 1400px;
    height: 1200px;
    border: 0px solid rgba(132, 146, 175, 0.3);
    background-color: #ffffff;
    position: absolute;
    left: 320px;
    top: 121px;
}

.content h1{
    height: 37px;
    color: #0e1a35;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    line-height: 14.4px;
    margin-left: 43px;
}

.box h2{
    width: 172px;
    color: #8492af;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 14.4px;
    padding: 15px 412px 0 0;
    margin-left: 32px;
}

.box    {
    width: 40%  ;
    height: 469px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    margin-left: 43px;
    box-sizing: border-box;
}

.box#right-box  {
    top: -180px;
    width: 53% ;
    height: 469px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    margin-left: 43px;
    box-sizing: border-box;
}

.period{
    border-radius: 24px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    padding: 17px 75px 19px 23px;
    position: absolute;
    right: 5px;
    top: 25px;
    color: #0e1a35;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 14.4px;
}

.box ul li{
    float: initial;
    position: relative;
    left: 90px;
    top: 100px;
    padding-bottom: 10px;
    width: 100%;
    list-style: circle;
    color: #8492af;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.box#right-box ul li{
    float: left;
    position: relative;
    left: 20px;
    top: 50px;
    padding-bottom: 10px;
    list-style: circle;
    color: #8492af;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    list-style-type: none;
}

.add-project{
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 27px 10px 45px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.circle{
    border: 50px solid rgba(23, 20, 236, 0.5);
    border-radius: 50%;
    box-sizing: border-box;
    width: 290px;
    height: 290px;
    background-color: white;
    line-height:200px;
    font-size:20px;
    color: #8492af;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 14.4px;
    float:left;
    margin-left: 36px;
    margin-bottom: 45px;
    margin-top: 45px;
    }   
    
.circle-text{
    text-align: center;
    position: absolute;
    top: 250px;
    left: 130px;
}

.side-menu i{
    margin-right: 15px;
    color: #5584ff;
    font-size: 20px;
}

.grafik{
    position: absolute;
    top: 140px;
    left: 90px;
}

.vector{
    box-sizing: border-box;
    width: 403px;
    height: 500px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    top: -160px;
    margin-left: 43px;
    margin-right: 18px;
}


.vector ul{
    display: inline;
}

.vector ul li{
    list-style-type: none;
    margin-bottom: 80px;
}

.users table{
    height: 37px;
    color: #0e1a35;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    line-height: 14.4px;
    margin-left: 43px;
}

table{
    position: absolute;
    width: 95%;
    text-align: center;
    border-collapse: collapse;
    left: 20px;

}
table tr{
    margin: 30px;
}
table th{
    color: #8492af;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 14.4px;
    height: 80px;
}

table td{
    border: 1px solid rgba(132, 146, 175, 0.3);
    color: #0e1a35;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 16.86px;
    background-color: white;
    margin: 0px;
    height: 100px;
    position: relative;
	text-align: center;
}

table td span{
    color: #8492af;
    position: absolute;
    top: 80px;
    left: 170px;
}

table td#isim{
    text-align: left;
}

table td#online{
    color: #00bf1b;
}

table td#offline{
    color: #8492af;
}

table td img{
    float: left;
}

table td i{
    margin: 0 10px;
}

table tr td li{
    margin: 35px;
    
}

.pagination a {
    color: black;
    float: center;
    padding: 17px 13px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
  }
  
  .pagination a.active {
    color: #5584ff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
  }
  
  .pagination a#wp {
    color: #5584ff;
    font-size: 30px;
    font-weight: 1000;
    border: 0px;
  }
footer{
    position: absolute;
    width: 95%;
    text-align: center;
    border-collapse: collapse;
    bottom: 40px;

}